################
#  General
################
*.log
*.zip
*.tar
*.gz
*.rar

################
#  Java
################
*.class
*.jar
*.war
*.ear

################
#  Eclipse
################
bin
.settings
.classpath

# STS (Spring Tool Suite)
.springBeans

################
#  Maven
################
target

################
#  Gradle
################
.gradle
build
!gradle

################
#  Local Web Server
################
!web-server

################
#  Jacoco
################
!jacocoagent.jar
