################
#  Log
################
*.log

################
#  Archives
################
*.zip
*.7z
*.lha
*.rar
*.cab
*.tar
*.gz
*.gzip

################
#  Java
################
classes
*.class
*.war
*.ear

################
#  Eclipse
################
bin
.settings
.project
.classpath
.checkstyle

# STS (Spring Tool Suite)
.springBeans

################
#  Maven
################
target

################
#  Gradle
################
build
.gradle

################
#  SQLite
################
*.db
*.sqlite

################
#  SVN
################
.svn
